@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom right, #f43f5e, #9f1239) no-repeat
    center center/cover;
  height: 100vh;
  width: 100vw;
  padding: 2rem 4rem;
}
.main {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.4);
  height: 100%;
  border-radius: 0.8rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.2);
  max-width: 70rem;
  overflow: hidden;
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.left,
.right,
.player,
.current {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
}
.active--player {
  background-color: rgba(255, 255, 255, 0.3);
}
.current {
  background-color: #9f1239;
  padding: 1rem 4rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  color: #fff;
  font-size: 1.2rem;
}
.player {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
}
.score {
  color: #9f1239;
  font-size: 3rem;
}

.btns {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-dice img {
  display: block;
  width: 8rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  transform: translate(0, -30%);
}
.top-btn {
  transform: translate(0, -120%);
}
.bottom-btn {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.btn {
  padding: 0.4rem 1rem;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:active {
  transform: translate(0, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
@media (max-width: 52rem) {
  .container {
    grid-template-columns: 1fr;
  }
  .left,
  .right {
    align-items: flex-start;
    justify-content: center;
    padding: 0 4rem 0;
  }
  .player {
    margin-left: 3rem;
    margin-bottom: 3rem;
  }
  .btns {
    transform: translate(8%, -45%);
    gap: 5rem;
  }
  .bottom-btn {
    gap: 4rem;
    margin-top: 2rem;
  }
}
